:root {
  --color-primary: #00204A;
  --color-secondary: #005792;
  --color-tertiary: #00BBF0;
  --color-quaternary: #D9FAFF;
  --color-complementary-1: #923b00;
  --color-complementary-2: #873576;
  --color-font: #eee;
  --color-font-light: #666;
  --color-background: #00122b;
}

body {
  background: var(--color-background);
  margin: 0;
  padding: 0;
  font-family: 'Prompt', sans-serif;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Header */

.header {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: var(--color-primary);
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  height: 4rem;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 100%;
}

.navbar ul li {
  list-style: none;
  margin: 0 1rem;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--color-quaternary);
  font-size: 1.2rem;
}

.navbar ul li a:hover {
  color: var(--color-tertiary);
}

/* h1, h2, h3 */

h1 {
  font-size: 2.5rem;
  color: var(--color-font);
  text-align: center;
  margin: 0;
  padding: 1rem;
}

h2 {
  font-size: 2rem;
  color: var(--color-quaternary);
  text-align: center;
  margin: 0;
  padding: 1rem;
}

h2::after {
  content: '';
  display: block;
  width: 100px;
  height: 2px;
  background-color: var(--color-tertiary);
  margin: 0 auto;
}

h3 {
  font-size: 1.5rem;
  color: var(--color-tertiary);
  text-align: center;
  margin: 0;
  padding: 1rem;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1200px;
}

.name {
  background: linear-gradient(90deg, #0099ff, #eb5fce, #ff6600);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-size: 3rem;
  text-align: center;
}

/* About */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--color-primary);
  color: var(--color-quaternary);
  padding: 1rem;
  border-radius: 1rem;
}

.about p {
  font-size: 1.2rem;
  text-align: center;
}

.about img {
  width: 20rem;
  height: 20rem;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
  }

  .about img {
    width: 15rem;
    height: 15rem;
    margin: 1rem 0;
  }
}

.image {
  animation: floating 3s ease-in-out infinite;
}

/* Skills */

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--color-primary);
  color: var(--color-quaternary);
  padding: 1rem;
  border-radius: 1rem;
}

.skills li {
  list-style: none;
  margin: 1rem;
}

.skills li img {
  height: 5rem;
}

/* Projects */

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--color-primary);
  color: var(--color-quaternary);
  padding: 1rem;
  border-radius: 1rem;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--color-secondary);
  color: var(--color-quaternary);
}

.project img {
  width: 20rem;
  height: 20rem;
  margin: 1rem;
}

/* Contact */

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--color-primary);
  color: var(--color-quaternary);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.social a {
  text-decoration: none;
  color: var(--color-quaternary);
  font-size: 1.2rem;
  margin: 1rem;
}

.social a:hover {
  transform: scale(1.2);
}

.social a img {
  width: 3rem;
  height: 3rem;
}

/* Animations */

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}